{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">
        {% if errors %}
        <div class="alert alert-secondary" role="alert">
          {{errors}}
        </div>
        {% endif %}
        <h3> Add your blog</h3>
        <div class="">
            <form action="{% url 'add_blog' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3 w-100">
                  <label for="exampleFormControlInput1" class="form-label">Blog Title</label>
                  <input name="title" type="text" class="form-control" id="exampleFormControlInput1" >
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Content of your article</label>
                  <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                </div>
                <div class="mb-3">
                  <label for="formFile" class="form-label">Select picture for your blog</label>
                  <input name="picture" class="form-control" type="file" id="formFile">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}