{% extends 'base.html' %}

{% block content %}
    <div class="container my-4">
        <div class="d-flex flex-row flex-wrap">
            {% for blog in blogs %}
                <div class="card m-3" style="width: 18rem;">
                  <img src="{{blog.picture.url}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5>
                    <p class="card-text">{{blog.content}}</p>
                    <a href="#" class="btn btn-primary">View article</a>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}